{{ template "layout" . }}

{{ define "main" }}
<div style="padding: 50px; display: flex; justify-content: center;">
  Id: {{ .Id }}
</div>
<div style="padding: 50px; display: flex; justify-content: center;">
  Name: {{ .Name }}
</div>
<div style="padding: 50px; display: flex; justify-content: center;">
  Price: {{ .Price }}
</div>
<div style="padding: 50px; display: flex; justify-content: center; text-align: center;">
  {{ .Stock }} left in stock&nbsp;
  <br />
  {{ .StockStatus }}
</div>
{{ end }}